body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
    margin: auto;
    padding-top: 50px;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
