body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #333;
}

h2 {
    color: #005cbf;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #b3daff;
    color: #005cbf;
}

td {
    background-color: #e6f7ff;
}

button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005cbf;
}

form {
    margin-top: 20px;
    background-color: #b3daff;
    padding: 10px;
}