:root {
  
    --color-primary: #04090f;
    --color-white: #e9e9e9;
    --color-black: #4892ec;
    --color-black-1: #212b38;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body::before {
    content: "";
    background-image: url("./images/welcome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(8px); /* Adjust the value to set the desired blur amount */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  
  body {
    font-family: sans-serif;
    overflow: hidden;
    /* position: relative; Add this line to make sure the ::before element is positioned correctly */
  }

  .text{
    background-color: rgb(0, 0, 0);
    background-color: rgba(39, 149, 212, 0.4);
    color: #e3fc02;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-inderx: 2;
    width: 80%;
    text-align: center;
    padding: 20px;
    }

  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  .logo span {
    color: var(--color-primary);
  }
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
  }
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  .dropdown-menu-1 {
    display: none;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
 